*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html, body { height: 100%;}

header{ /*Estilo do header do site*/
    display: flexbox;
    flex-wrap: wrap;        
    max-width: 100%;   
    text-align: center;  
    background-color: antiquewhite; 
    padding: 20px;            
}

.Top-Page{
    margin: 1%;
}

.items-menu a[href]{                    
    padding: 1%;
    width: 50%;
    margin: 50px auto;
    text-decoration: none;    
    font-size: medium;    
}

